<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>@ViewBag.wedding.wedder_one and @ViewBag.wedding.wedder_one&apos;s Wedding</h1>
    <a href="">Dashboard</a>
    <a href="">Log Out</a>
    <div>
        <h3>Date: @ViewBag.wedding.date.ToString("MMMM d, yyyy")</h3>
        <h3>Guests:</h3>
        <ul>
            @foreach(var guest in ViewBag.wedding.Guests)
            {
                <li>@guest.User.first_name @guest.User.last_name</li>
            }
        </ul>
    </div>
</body>
</html>